// █▀▀ █▀█ █░░ █▀█ █▀█ █▀
// █▄▄ █▄█ █▄▄ █▄█ █▀▄ ▄█

/*
===== NEUTRALS =====
*/
// BASE COLOR
$color-base: #161917;
// SUBORDINATE COLOR
$color-subordinate: #8f98a8;
// DISABLED COLOR
$color-disabled: #d9dce2;
// INVERSE COLOR
$color-inverse: #fcfcfc;

// PRIMARY COLOR
$color-primary-1: #fde4e4; /* TINTS */
$color-primary-2: #161917;
$color-primary-3: #df2020;

// SEMANTIC COLORS
$color-success-soft: #DDF2E0;
$color-success-medium: #99D8A3;
$color-success-hard: #34B248;
$color-warning-soft: #FBF0DC;
$color-warning-medium: #F3D297;
$color-warning-hard: #E8A530;
$color-error-soft: #F6D9D9;
$color-error-medium: #E48E8E;
$color-error-hard: #C91D1D;
