@use '../../tokens/tokens-spacing.scss' as tSpacings;

@mixin padding-classes($name, $paddingSize) {
  .p-#{$name} {
    padding: $paddingSize;
  }
  .px-#{$name} {
    padding-left: $paddingSize;
    padding-right: $paddingSize;
  }
  .py-#{$name} {
    padding-top: $paddingSize;
    padding-bottom: $paddingSize;
  }
  .pl-#{$name} {
    padding-left: $paddingSize;
  }
  .pr-#{$name} {
    padding-right: $paddingSize;
  }
  .pt-#{$name} {
    padding-top: $paddingSize;
  }
  .pb-#{$name} {
    padding-bottom: $paddingSize;
  }
}

@media only screen and (max-width: 982px) {
  .px-0-mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@include padding-classes('8', tSpacings.$spacing8);
@include padding-classes('12', tSpacings.$spacing12);
@include padding-classes('16', tSpacings.$spacing16);
@include padding-classes('24', tSpacings.$spacing24);
@include padding-classes('40', tSpacings.$spacing40);
