button:hover {
    background-color: var(--color-primary-2);
}

button:focus {
    background-color: var(--color-primary-2);
}

input {
    border-radius: 16px !important;
    padding: 16px !important;
}