<div class="items-center justify-center flex animate__animated animate__fadeIn" style="min-height: calc(100vh - 80px);">
    <article class="flex items-center justify-center shadow-primary p-24" style="min-width: 900px; margin-top: 40px;"
        *ngIf="recibo">
        <section class="flex-column gap-40 p-24 w100">
            <div class="flex">
                <img src="assets/logo.png" alt="logo" height="40">
            </div>
            <div class="flex-column gap-16">
                <h2 class="text-bold">Recibo de compra</h2>
                <div class="background-disabled w100" style="height: 1px;"></div>
                <div class="flex-column gap-16">
                    <p><span class="text-bold">Fecha de compra:</span> {{recibo.fecha | date}}</p>
                    <p><span class="text-bold">Fecha de llegada:</span> {{fechaLlegada | date}}</p>
                    <p><span class="text-bold">Dirección de envío:</span> {{recibo.direccion}}</p>
                    <p><span class="text-bold">Número de contacto:</span> {{recibo.telefono}}</p>
                </div>
                <div class="background-disabled w100" style="height: 1px;"></div>
                <div class="flex-column gap-8">
                    <h1 class="flex justify-space-between"><span class="text-bold">Total productos:</span>{{montoProductos | number: '1.2'}}</h1>
                    <h1 class="flex justify-space-between"><span class="text-bold">Envío:</span>{{recibo.envio | number: '1.2'}}</h1>
                    <h1 class="text-bold flex justify-space-between"><span>Precio total:</span>S/ {{montoProductos + recibo.envio | number: '1.2'}}</h1>
                </div>
            </div>
        </section>
        <section class="flex-column gap-16 p-24 w100" style="flex: 1 1.2 auto; min-height: 510px;">
            <h1 class="text-bold">Productos comprados</h1>
            <div class="background-disabled w100" style="height: 1px;"></div>
            <div class="expanded-scrollable-y gap-16 flex-column">
                <div class="flex gap-16 items-center p-16 border-primary-1 br-16 w100"
                    *ngFor="let producto of recibo.productos">
                    <img [src]="producto.producto.fotoUrl" alt="foto_producto" height="80" style="border-radius: 8px;">
                    <div class="flex-column w100">
                        <p class="text-bold">{{producto.producto.nombre}}</p>
                        <p>Cantidad: {{producto.cantidad}}</p>
                        <p>Precio total: S/ {{producto.producto.precio}}</p>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>